{% extends "main.html" %}
{% block content %}
		<div class="jumbotron">
			<div class="container">
				<h1>New bookmark</h1>
				<p>Please enter the book details</p>
			</div>
		</div>

		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
			{% if error %}
				<h2>Book already exists!</h2>
			{% endif %}
				<div class="col-md-4">
					<h2>Add new bookmark</h2>
					<form action="" name="bookmark" method="POST">
						Username:<br>
						<input type="text" name="username"><br>
						Password:<br>
						<input type="text" name="password"><br>
						Title:<br>
						<input type="text" name="title"><br>
						Author:<br>
						<input type="text" name="author"><br>
						Page:<br>
						<input type="text" name="page"><br>
						Line:<br>
						<input type="text" name="line"><br>
						<br><br>
						<input type="submit" value="Add new bookmark">
					</form> 

				</div>
				
			</div>
		</div> <!-- /container -->
	</body>
</html>
{% endblock %}