{% extends "main.html" %}
{% block content %}
		<div class="jumbotron">
			<div class="container">
				<h1>Login</h1>
				<p>Please enter your username and password to continue. If you dont have a username please register one.</p>
			</div>
		</div>

		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Login</h2>
					<form action="" name="login" method="POST">
						Username:<br>
						<input type="text" name="username" id="username"">
						<br>
						Password:<br>
						<input type="text" name="password" id="password"">
						<br><br>
						<input type="submit" value="Login">
					</form> 
				<a class="btn btn-default" href="{{ url_for('register') }}" role="button">Register new account</a>
				</div>
				
			</div>
		</div> <!-- /container -->
	</body>
</html>
{% endblock %}