{% extends "main.html" %}
{% block content %}
		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Add new bookmark</h2>
					<img src="{{ url_for('static', filename='img/new_file.png') }}" alt="New bookmark">
					<p><a class="btn btn-default" href="{{ url_for('bookmark') }}" role="button">Add a new Bookmark &raquo;</a></p>
				</div>

			</div>
			
			<div class="row">
				{{content}}
			</div>
		</div> <!-- /container -->
	</body>
</html>
{% endblock %}